<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="N6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <N6.Properties.Settings>
            <setting name="User1" serializeAs="String">
                <value />
            </setting>
            <setting name="User2" serializeAs="String">
                <value />
            </setting>
            <setting name="User3" serializeAs="String">
                <value />
            </setting>
            <setting name="User4" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUserAvatar" serializeAs="String">
                <value />
            </setting>
            <setting name="isAdmin" serializeAs="String">
                <value>False</value>
            </setting>
        </N6.Properties.Settings>
    </userSettings>
</configuration>